@model IEnumerable<T_Reservation.Models.Restaurante>

@{
    ViewData["Title"] = "Index";
}

<h1>Restaurante</h1>

<p>
   <a asp-action="Create" class="btn btn-outline-secondary">Crear nuevo</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empleados)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
                <td>
                    @if (item.Imagen != null && item.Imagen.Length > 0)
                    {
                        <img class="bloque d mx-auto redondeado" src="data:image/jpg;base64,@(Convert.ToBase64String(item.Imagen))" style="max-width: 100px; max-height: 100px;">
                    }

                </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Empleados.Nombre)
            </td>
            <td>
             <a asp-action="Edit" class="btn btn-outline-success" asp-route-id="@item.Id">Editar</a> |
                <a asp-action="Details" class="btn btn-outline-info" asp-route-id="@item.Id">Detalles</a> |
                <a asp-action="Delete" class="btn btn-outline-danger" asp-route-id="@item.Id">Eliminar</a>
              
            </td>
        </tr>
}
    </tbody>
</table>
