@model T_Reservation.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar Reserva</h1>

<div class="container">
    <div class="card border-secundary mb-3">
        <div class="card-body">
            <h3>¿Está Seguro Que Desea Eliminar Esta Reserva?</h3>
            <hr />
            <dl class="row">
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Cliente.Correo)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Restaurante)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Restaurante.Descripcion)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Mesa)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Mesa.Area)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.CantidadPersonas)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.CantidadPersonas)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FechaInicio)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FechaFin)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FechaFin)
                </dd>
            </dl>
        </div>
        <div class="card-footer d-flex justify-content-end">
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-outline-danger me-3">Eliminar</button>
            </form>
            <a asp-action="Index" class="btn btn-outline-secondary">Regresar</a>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
