@model T_Reservation.Models.Reserva

@{
    ViewData["Title"] = "Delete";
}

<div class="card"> 
    <div class="card-body">

<h1 class="card-title">Eliminar Reserva</h1>



            <h5 class="card-text text-danger">¿Está Seguro Que Desea Eliminar Esta Reserva?</h5>
        <br />
            <dl class="row">
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Cliente)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Cliente.Correo)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Restaurante)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Restaurante.Descripcion)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.Mesa)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Mesa.Area)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.CantidadPersonas)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.CantidadPersonas)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FechaInicio)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FechaFin)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FechaFin)
                </dd>
            </dl>
       
        <div>
            <form asp-action="Delete">
                <input type="hidden" asp-for="Id" />
                <button type="submit" class="btn btn-danger">Eliminar</button>
            <a asp-action="Index" class="btn btn-secondary">Cancelar</a>
            </form>
            
      


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
        </div>
    </div>
</div>