@model IEnumerable<T_RESERVATION.EntidadesNegocio.Menu>

@{
    ViewData["Title"] = "Productos";


}


<div class="card">
    <div class="card-body">
<h1 class="card-title">Lista de productos</h1>

<p>
<a asp-action="Create" class="btn btn-dark">Agregar producto</a>
        <div class="table-responsive">                  
</p>
<table class="table table-bordered table-sm">
    <thead>
 <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Producto)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Imagen)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NotaEspecial)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Precio)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Producto)
                </td>
                <td>
                    @if (item.Imagen != null && item.Imagen.Length > 0)
                    {
                        <img class="bloque d mx-auto redondeado" src="data:image/jpg;base64,@(Convert.ToBase64String(item.Imagen))" style="max-width: 100px; max-height: 100px;">
                    }

                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NotaEspecial)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Precio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Restaurante.Nombre)
                </td>
                 <td class="btn-group-vertical">
                           
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-dark" >Editar</a>
                            
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-secondary">Detalles</a>
                           
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Eliminar</a>
                                
                   
                </td>
        </tr>

}
    </tbody>
</table>
</div>
</div>
</div>  