@model IEnumerable<T_RESERVATION.EntidadesNegocio.Cliente>
@{
    ViewData["Title"] = "Cliente";
}

<div class="card">
    <div class="card-body">
<h1 class="card-title">Registro de clientes</h1>

<div class="table-responsive">
    <table class="table table-bordered table-sm">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Nombre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Dui)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Telefono)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Correo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Direccion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FechaNacimiento)
            </th>
                        <th>
                            @Html.DisplayNameFor(model => model.Rol)
                        </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Dui)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Telefono)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Correo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Direccion)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FechaNacimiento)
            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rol)
                            </td>
                           
             <td class="btn-group-vertical" >
                                @if (User.IsInRole("Cliente,Administrador"))
                                {
                                    <a class="mb3 btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
                                    <a class="mb3 btn btn-dark" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                                }
                             
             
                        <a class="mb3 btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalle</a>
              
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>
