@model T_RESERVATION.EntidadesNegocio.Reserva

@{
    ViewData["Title"] = "Details";
}
@{
    var httpContext = ViewContext.HttpContext;
    var usuarioRol = httpContext.Session.GetString("UsuarioRol");

}
<div class="card">
<div class="card-body">
<h1 class="card-title">Detalle de Reserva</h1>

            <dl class="row">
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.ClienteId)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Cliente.Correo)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.RestauranteId)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Restaurante.Nombre)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.MesaId)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.Mesa.Area)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.CantidadPersonas)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.CantidadPersonas)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FechaInicio)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FechaInicio)
                </dd>
                <dt class="col-md-4">
                    @Html.DisplayNameFor(model => model.FechaFin)
                </dt>
                <dd class="col-md-8">
                    @Html.DisplayFor(model => model.FechaFin)
                </dd>
            </dl>
       
    

    <div>
        @if (usuarioRol == "Administrador" || usuarioRol == "Cliente" )

                                        {
        <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-secondary">Editar</a>
                                        }
        <a asp-action="Index" class="btn btn-danger">Cancelar</a>
    </div>


@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
    }
</div>
</div>
