@{
    Layout = null;
}
@model IEnumerable<T_RESERVATION.EntidadesNegocio.Mesa>

@if (Model != null && Model.Any()){

<input type="hidden" name="accion" value="@ViewBag.Accion" />
<div class="table-responsive">
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
     @*        <th>
                @Html.DisplayNameFor(model => model.Restaurante)
            </th> *@
            <th>
                @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                {

                    <button type="submit" class="btn btn-dark" formaction="@Url.Action("AgregarDetallesAsync")">Agregar</button>
                }

            </th>
        </tr>

    </thead>
    <tbody>
        @{
            int index = -1;
        }
        @if (Model != null && Model.Count() > 0)
        {
            @foreach (var item in Model)
            {
                index++;
                // var hidde = "table";
                if (item.Id > -1)
                {
                    <tr>
                        <td>
                            <input type="hidden" value="@item.Id" name="Mesas[@index].Id">

                            <input type="hidden" name="Mesas[@index].IdRestaurante" value="@item.IdRestaurante">

                            <input class="form-control" data-readonly type="number" name="Mesas[@index].Numero" value="@item.Numero">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="number" name="Mesas[@index].Capacidad" value="@item.Capacidad">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="text" name="Mesas[@index].Area" value="@item.Area">
                        </td>
                        <td>
                            <input class="form-control" data-readonly type="text" name="Mesas[@index].Disponibilidad" value="@item.Disponibilidad">
                        </td>
         
                        <td>
                            @if (ViewBag.Accion == "Create" || ViewBag.Accion == "Edit")
                            {
                             
                                <button name="index" value="@index" class="btn btn-danger" type="submit" formaction="@Url.Action("EliminarDetallesAsync")">Eliminar</button>
                            }

                        </td>
                    </tr>
                }
                else
                {
                    <tr style="display:none">
                        <td>
                            <input type="hidden" value="@item.Id" name="Mesas[@index].Id">
                            <input type="hidden" name="Mesas[@index].IdRestaurante" value="@item.IdRestaurante">

                            <input type="hidden" name="Mesas[@index].Numero" value="@item.Numero">
                            <input type="hidden" name="Mesas[@index].Capacidad" value="@item.Capacidad">
                            <input type="hidden" name="Mesas[@index].Area" value="@item.Area">
                            <input type="hidden" name="Mesas[@index].Disponibilidad" value="@item.Disponibilidad">
                 
                           
                        </td>
                    </tr>
                }
            }
        }

    </tbody>
</table>
</div>

}
else{
    <p>no</p>
}


@if (ViewBag.Accion == "Details" || ViewBag.Accion == "Delete")
{
    <script>

        const readOnly = document.querySelectorAll("*[data-readonly]");
        for (var i = 0; i < readOnly.length; i++) {
            const item = readOnly[i];
            item.setAttribute("readonly", true);
        }

    </script>
}

