@model T_RESERVATION.EntidadesNegocio.Restaurante

@{
    ViewData["Title"] = "Delete";
}
<div class="card">
    <div class="card-body">

<h1 class="card-title">Eliminar</h1>

        <h3 class="text-danger">¿Estas seguro que quieres eliminar este restaurante?</h3>
<div>

    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nombre)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Imagen)
        </dt>
        <dd class="col-sm-10">
            @if (Model.Imagen != null && Model.Imagen.Length > 0)
            {
                <img src="data:image/jpg;base64,@(Convert.ToBase64String(Model.Imagen))" style="max-width: 100px; max-height: 100px;" />
            }
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descripcion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Direccion)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Direccion)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Empleados)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Empleados.Nombre)
        </dd>
                <div class="row">
                    <div class="row row-cols-md-12">
                        @await Html.PartialAsync("_Mesas", Model.Mesas)
                    </div>
                </div>
    </dl>
    
    <form asp-action="Delete">
                <input type="hidden" asp-for="IdRestaurante" />
        <input type="submit" value="Eliminar" class="btn btn-danger" />
     <a asp-action="Index" class="btn btn-dark">Cancelar</a>
        
    </form>
</div>
</div>
</div>