@model T_Reservation.Models.Login

@{
    ViewBag.Title = "Inicio de Sesión";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<h2>@ViewBag.Title</h2>
<head>
    <link rel="stylesheet" href="~/css/login.css">
</head>

@using (Html.BeginForm("Index", "Login", FormMethod.Post))
{
    @Html.AntiForgeryToken()

    <div class="form-group">
        @Html.LabelFor(model => model.Correo)
        @Html.TextBoxFor(model => model.Correo, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Correo)
    </div>

    <div class="form-group password-container">
        @Html.LabelFor(model => model.Password)
        @Html.PasswordFor(model => model.Password, new { @class = "form-control", id = "password" })
        @Html.ValidationMessageFor(model => model.Password)

        <i class="fas fa-eye password-toggle" id="toggle-password" onclick="togglePassword()">&#128065;</i>
    </div>

    <button type="submit" class="btn btn-dark">Iniciar Sesión</button>
    <p>¿No tienes una cuenta? <a href="@Url.Action("IndexHome","Home")">Regístrate</a></p>
    <a asp-area="" class="btn btn-secondary" asp-controller="Home" asp-action="IndexHome">Cancelar</a>

}

@if (!ViewData.ModelState.IsValid)
{
    <div class="alert alert-danger mt-3" role="alert">
        <strong>Error:</strong> @Html.ValidationSummary(false)
    </div>
}

<script>
    function togglePassword() {
        let passwordInput = document.getElementById("password");
        let toggleIcon = document.getElementById("toggle-password");

        if (passwordInput.type === "password") {
            passwordInput.type = "text";
            toggleIcon.classList.add("active");
        } else {
            passwordInput.type = "password";
            toggleIcon.classList.remove("active");
        }
    }
</script>

<style>
    /* Style the password container for better placement of the icon */
    .password-container {
        position: relative;
    }

    /* Style the eye icon */
    .password-toggle {
        font-size: 24px;
        position: absolute;
        right: 20px;
        top: 70%;
        transform: translateY(-50%);
        cursor: pointer;
        color: #ccc;
    }

        .password-toggle.active {
            color: #000;
        }
</style>
