@model IEnumerable<T_Reservation.Models.Mesa>

@{
    ViewData["Title"] = "Mesas";
}

<div class="card">
    <div class="card-body">
<h1 class="card-title">Registro de mesas</h1>

<p>
    <a class="btn btn-secondary" asp-action="Create">Agreagar mesa</a>
</p>
<div class="table-responsive">
    <table class="table table-bordered table-sm">
    <thead>
        <tr class="table-dark">
            <th>
                @Html.DisplayNameFor(model => model.Numero)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capacidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Area)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Disponibilidad)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Restaurante)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Numero)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Capacidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Disponibilidad)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Restaurante.Nombre)
            </td>
            <td class="btn-group-vertical">
                        <a class="mb3 btn btn-secondary" asp-action="Edit" asp-route-id="@item.Id">Editar</a>
                        <a class="mb3 btn btn-secondary" asp-action="Details" asp-route-id="@item.Id">Detalles</a>
                        <a class="mb3 btn btn-danger" asp-action="Delete" asp-route-id="@item.Id">Eliminar</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
</div>